body {
   background-image:url('logo.png');
   color: #000305;
   font-size: 87.5%
   font-family: Arial,
   line-height: 1.5;
   text-align:center;
}


a {
 text-decoration: none;
}

a:link, a:visited

{ 

}

a:hover, a:active {

}

.mainheader 
{
text-align:center;
}
.mainheader img {
width: 30%;
height: auto;
margin: 20px;
vertical-align:middle; 
} 

.mainheader h1
{ 
display: inline;
}
.mainheader nav {
    background-color: #263dcc;
    height: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align:center;
    width:60%;
}
.mainheader nav button
{
  height: 40px;
  background-color:#da1414;
  color: #13f511;
  font-weight:bold;
  border-radius: 20px;
  margin-right:40px;
  	
}
.Content
{
text-align:center;
}
.MainContent
{
  width:85%;
  border-radius:10px;
  text-align:center;
  border:2px solid blue;
}




